body {margin-left:50px;}
#storedData {font-size:300%; margin-right:10px;}
#price {width: 200px; margin-right:10px; text-align:right;}
.ODD-EVEN{
  width:100%;
  display: flex;
}
.basic{
  width:calc(50% - 10px);
  margin-right: 50px;
}

.tx{
  width:calc(50% - 10px);

}
@media(max-width:700px) {
  .ODD-EVEN{
    display: block;
  }
}
