#title {
	text-align: center;
}

#title1 {
	color: black;
	text-decoration: none;
	font-size: 60px;
}

#game {
	font-size: 20px;
	display: flex;
	justify-content: center;
	padding-top: 3%;
}

#game>section {
	width: calc(25%);
	text-align: center;
	
}



#legRoll {
	padding-top: 5%;
	display: flex;
	justify-content: center;
}
#betting{
	text-align:left;
}
#transaction{
	text-align: center;
}
#betting>section{
	width:calc(50%);
	text-align: center;
}

#gameTitle {
	font-size: 30px;
}




